[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .env,
    env,
    build,
    dist,
    .eggs,
    *.egg-info,
    .tox,
    .coverage,
    .coverage.*,
    .cache,
    nosetests.xml,
    coverage.xml,
    *.cover,
    *.py,cover,
    .hypothesis,
    .pytest_cache,
    htmlcov
